USE [master]
GO
/****** Object:  Database [Survey1029 ]    Script Date: 2022/2/15 下午 04:48:27 ******/
CREATE DATABASE [Survey1029 ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Survey1029', FILENAME = N'D:\SQL Server 2019\新增資料夾\MSSQL15.SQLEXPRESS\MSSQL\DATA\Survey1029 .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Survey1029 _log', FILENAME = N'D:\SQL Server 2019\新增資料夾\MSSQL15.SQLEXPRESS\MSSQL\DATA\Survey1029 _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Survey1029 ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Survey1029 ]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 2022/2/15 下午 04:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnsID] [int] NOT NULL,
	[A_UserName] [nvarchar](50) NOT NULL,
	[A_UserPhone] [varchar](10) NOT NULL,
	[A_UserEmail] [nvarchar](50) NOT NULL,
	[A_UserAge] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[AnsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MixQus]    Script Date: 2022/2/15 下午 04:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MixQus](
	[QuID] [int] NOT NULL,
	[Caption] [nvarchar](50) NOT NULL,
	[Ans] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
	[Nullable] [bit] NOT NULL,
	[Available] [bit] NULL,
 CONSTRAINT [PK_MixQes] PRIMARY KEY CLUSTERED 
(
	[QuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 2022/2/15 下午 04:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuID] [int] NOT NULL,
	[Caption] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Nullable] [bit] NOT NULL,
	[Ans] [nvarchar](50) NOT NULL,
	[Available] [bit] NOT NULL,
	[PostID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 2022/2/15 下午 04:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[PostID] [uniqueidentifier] NOT NULL,
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](500) NOT NULL,
	[Starttime] [datetime] NOT NULL,
	[Endtime] [datetime] NOT NULL,
	[ActType] [int] NOT NULL,
	[Available] [bit] NOT NULL,
 CONSTRAINT [PK_Survey] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2022/2/15 下午 04:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
